$tamano-letra: 10px;
$margen: 10px;
$oscuro: true;

h1{
    font-size: $tamano-letra*2 +9px -2px;
}
h3{
    margin: $margen/2;
}
body{
    background-color: if($oscuro, #0000, #ffff);
    color: if($oscuro,#ffff, #0000);
}
/*Manipulación de colores con darken, ligthen, complement*/
$color: white;
.boton{
    background-color: lighten($color, 10%);
    border-color: darken($color, 10%);
    color: complement($color);
}