.placeholder{
    color: antiquewhite;
    font-size: 10px;
    font-style: italic;
}
//Extender esta clase
.entrada-placeholder{
    @extend .placeholder;
}
.textarea-placeholder{
    @extend .placeholder;
}
/*Esto saldría en el CSS
.placeholder, entrada-placeholder, .textarea-placeholder{
    color: antiquewhite;
    font-size: 10px;
    font-style: italic;
}
*/
.boton{
    padding: 10px 20px;
    border-radius: 5px;
    color: aquamarine;
}
.primario-boton{
    @extend .boton;
    background: black;
}
.secundario-boton{
    @extend .boton;
    background: rgb(130, 8, 8);
}
/* Así quedaría en el CSS
.boton, primario-boton, secundario-boton{
    padding: 10px 20px;
    border-radius: 5px;
    color: aquamarine;
}
.primario-boton{
    background: black;
}
.secundario-boton{
    background: rgb(130, 8, 8);
}*/

/*Selectores anidados. También podemos usar extend*/
.tarjeta{
    border: 1px solid chocolate;
    padding: 5px;
    .cabecera-tarjeta{
        font-size: 18px;
        font-weight: bold;
    }
    .cuerpo-tarjeta{
        font-size: 15px;
    }
}
.especial-tarjeta{
    @extend .tarjeta;
    .cabecera-tarjeta{
        color: bisque;
    }
    .cuerpo-tarjeta{
        color: aquamarine;
    }
}