//Estilos que voy a aplicar
@import 'variables';
@import 'mixin';
body{
    font-family: $fuente;
    background-color: $primario-color;
    color: azure;
    font-size: 20px;
}
button{
    background-color: $secundario-color;
    @include borde-redondo(20px);
    @include transicion(all,0.3s);
    &:hover{
        background-color: darken($secundario-color, $oscuridad);//darken sirve para oscurecer
    }
}
div{
    color: $secundario-color;
}