//Variables
$fondo-defecto: #ffffff;
$texto-defecto: yellow;
$bordes-defecto: 2px solid #bd2020cc;
$fuente-tamanio-defecto: 14px;
$margen: 10px 0;

//Funciones
@mixin text-box($fondo:$fondo-defecto,$texto-color:$texto-defecto, $borde:$bordes-defecto, $fuente-tam:$fuente-tamanio-defecto){
    background-color: $fondo;
    color:$texto-color;
    border: $borde;
    font-size: $fuente-tam;
    padding: 10px;
    margin: $margen;
    border-radius: 4px;
}
.text-box-primera{
    @include text-box($fondo:#1258, $texto-color: #ffff, $borde: 1px solid green , $fuente-tam: 16px);
}
.text-box-segunda{
    @include text-box($fondo:rgba(29, 17, 85, 0.533), $texto-color: #bd9fed, $borde: 1px solid rgb(243, 153, 8) , $fuente-tam: 20px)
}