.cont-main{
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 75px auto;
    padding-bottom: 50px;
}

.cont-categorias{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.vacio {
    font-size: x-large;
    color: rgb(194, 30, 30);
    font-weight: bold;
}

.enlace-cat {
    text-decoration: none;
}

.enlace-cat h4{
    width: 280px;
    align-content: center;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
    color: black;
    transition: background-color 0.5s;
}

.enlace-cat h4:hover{
    background-color: #dddddd;
}

/*Productos_categoria - index.html*/

.cont-prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-prod{
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}