$fondo-defecto: white;
$texto-defecto: darkcyan;
$bordes-defecto: 2px solid darkgrey;
$fuente-tamaño-defecto: 14px;

$margen: 10px;

$min-altura-div: 200px;
$max-altura-div: 500px;

$min-anchura-div: 20%;
$max-anchura-div: 90%;

//Si se llama a la funcion y no se le pasa ningún parametro:  $fondo: darkcyan,   $borde. $bordes-defecto
@mixin text-box($fondo:$fondo-defecto, $texto-color:$texto-defecto, $borde:$bordes-defecto, $fuente-tam:$fuente-tamaño-defecto){

    background-color: $fondo;
    color: $texto-color;
    border: $borde;
    font-size: $fuente-tam;

    padding: 10px; 
    margin: 10px;

    border-radius: 5px;
}

.text-box-1{
    @include text-box(lightblue, darkblue);
}

.text-box-2{
    @include text-box(rgb(134, 212, 141), rgb(0, 46, 0));
}