body {
    background-color: #f8f9fa;
}

.separador{
    border-right: 2px solid white;
}

#pokemonInfo img {
    width: 150px;
    height: auto;
    margin-top: 10px;
}

.cont-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ajusta según el tamaño deseado */
}

#pokemonTableBody td{
    align-content: center;
}

#pokemonTableBody img{
    max-width: 50px;
    min-width: 20px;
    margin: auto; 
    display: block;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .cont-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .table {
        font-size: 12px; /* Reducir el tamaño de fuente para pantallas pequeñas */
    }

    #pokemonTableBody td {
        padding: 5px; /* Reducir el espacio entre celdas */
    }

    #pokemonInfo {
        font-size: 14px; /* Reducir el tamaño de texto para mayor legibilidad */
    }

    /* Asegurar que las imágenes de los Pokémon se ajusten bien */
    #pokemonTableBody img {
        max-width: 40px;
        min-width: 20px;
    }
}

/* Ajustes para pantallas más pequeñas, tipo móviles */
@media (max-width: 480px) {
    .table {
        font-size: 10px; /* Reducir aún más el tamaño de la fuente */
    }

    #pokemonInfo img {
        width: 120px; /* Reducir el tamaño de la imagen para pantallas pequeñas */
    }
}